leonardtechsolutions.com {
  handle /projects/kcardswap/api/* {
    uri strip_prefix /projects/kcardswap
    reverse_proxy backend:8000
  }

  handle /projects/kcardswap* {
    reverse_proxy web:3000
  }

  respond "Not Found" 404
}
